@font-face {
    font-family: gily-roy;
    src: url(../fonts/gily-roy.ttf);
}

@font-face {
    font-family: loco;
    src: url(../fonts/LOKICOLA.TTF);
}

*{
    margin: 0;
    padding: 0;
    font-family: gily-roy;
}
:root{
   --sea-blue:#7bd1ee; 
  
}

body{
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#nav{
    height: 10vh;
    width: 100vw;
    background-color: rgba(243, 235, 235, 0.546);
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    position:fixed;
    top: 0;
    z-index:10;
    

}

#nav #left{
    display: flex;
    align-items: center;
    gap: 2vw;
    height: 100%;
    font-size: 1.3vw;
    font-weight: 600;
}

#left span{
    padding: 0.2vh 2vw;
    background-color: var(--sea-blue);
    border-radius: 25px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav #right{
    height: 100%;
}

#right img{
   height: 80%;
   width: 100%;
   object-fit: fill;
   cursor: pointer;
   position: relative;
   z-index: 10;
}

#nav-info-page{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(rgba(245, 245, 245, 0.89),#e2f3f9,#f1d7f5);
    top: 0;
    right: -200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 20;
}

#nav-info-page span{
    font-size: 3vw;
    display: inline;
    height: 15vh;
    margin-top: 4vh;
    display: flex;
    gap: 2vw;
    font-weight: 800;
    border-bottom: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: black;
    position: relative;
    z-index: 12;
    
}

#nav-info-page span i{
    font-size: 2vw;
}


#nav-page-cross{
  position: absolute;
  top: 10%;
  right: 10vw;
  height: 6vh;
  width: 4vw;
  font-size: 4vw;
  color: var(--sea-blue);
  cursor: pointer;
  z-index: 12;
}

#show{
    height: 50px;
    width: 50px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    z-index: 11;
    transition: all 0.1s ease-in;
}

#main{
    position: relative;
    width: 100vw;
    background-color: whitesmoke;
    z-index: -99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body::-webkit-scrollbar{
    display: none;
}

#page1{
    width: 100vw;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 200;
    perspective: 150px;
    max-height: fit-content;
    position: relative;
    z-index: -11;
  
}

#show-case{
    height: 7vh;
    width: 20vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 9px;
    box-shadow: 15px 15px 60px #9adef5d0;
    font-size: 1.1em;
    font-weight: 900;
    margin-bottom: 5vh;
}

#show-case .case1{
    background-color: rgba(128, 128, 128, 0.612);
    padding: .5vh 1.8vw;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

#show-case .case2{
    color: #cb4cde;
}

.heading1{
    font-size: 6vw;
    font-weight: 900;
}

.heading2{
    font-size: 4vw;
    font-weight: 100;
    font-family: loco;
    color: #f5a4ed;
}

#page1 p{
    text-align: center;
    font-size: 1.1em;
}

#btn-div{
    height: 10vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-top: 4vh;
}

#btn-div a{
    padding: 0.8vh 2.9vw;
    background-color: red;
    border-radius: 19px;
    text-decoration: none;
    font-weight: 700;
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 91;
}

.btn1{
    background: linear-gradient(to left,#f5a4ed,#cb4cde);
    box-shadow: 1px 1px 60px #cb4cdeba;
    border: .1px solid #bb41ceab;
    transform: translateZ(10px);
}

.btn2{
    background: linear-gradient(to left,#7bd1ee,#48a6c6);
    box-shadow: 1px 1px 60px #58bee0bb;
    border: 0.1px solid #4ab0d2;
}

#bg-box{
    height: 70vh;
    width: 90%;
    margin-top: 5vh;
    transform-style: preserve-3d;
    position: relative;
     display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#bg-box #main-img{
    height: 100%;
    width: 70%;
    object-fit: fill;
    transform: translateZ(0px) rotate(0deg);
    filter: drop-shadow(10px 10px 10px gray );
}


#page2{
    height: 100vh;
    width: 95vw;
    margin-top: 10vh;
    perspective: 150px;
   position: relative;
   z-index: -1;
   pointer-events: all;
}

.text-container{
    height: 15vh;
    width: 33vw;
    font-size: 3vw;
    position: relative;
    transform-style: preserve-3d;

}
.text-container span{
     display: flex;
     align-items: center;
     gap: 2vw;
}

.text-container .spn{
    display: inline-block;
    height: 7px;
    width: 70px;
    background-color: black;
}
.text-container b{
 margin-left: 2vw;
 font-weight: 900;
}

.text-container img{
    position: absolute;
    height: 15vh;
    width: 9vw;
    right: -1vw;
    top: 0;
    transform: rotate(13deg);
}

.info-container{
  height: 65vh;
  width: 100vw;
  margin-top: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card{
    height: 100%;
    width: 22vw;
    background-color: white;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 1px 1px 20px #9a989a3c;
    justify-content: space-between;
}

.card-img{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaf1f4;
}

.card-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(1px 1px 60px #ab02fa65);
}

.card:hover.card-img img{
  transform: rotate(40deg);
}

.card-info{
    height: 33%;
    width: 100%;
    padding: 0vh 0.2vw;
}

.card-info h3{
    font-size: 2.2vw;
    font-weight: 900;
    margin-top: 1vh;
    margin-bottom: 2vh;
    text-shadow: 1px 1px 4px rgb(153, 149, 149);
}

.card-info span{
    font-size: 1.3vw;
    margin-top: 1vh;
    color: rgb(116, 114, 114);
}

.card .card-btn{
     height: 5vh;
     width: 10vw;
     margin-bottom: 4vh;
     border: 0.1px solid black;
     background-color: #10b7ef;
     border-radius:4px ;
     color: white;
     font-size: 1.5vw;
     font-weight: 900;
     letter-spacing: 2px;
     margin-left: 1vw;
}


#page3{
    height: 100vh;
    width: 100vw;
    margin-top: 10vh;
}

#vid-div{
    height: 80vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 9px;
    margin-left: 5%;
    margin-top: 4vh;
    position: relative;
    cursor: grab;
}

#vid-div video{
    border-radius: 9px;
    height: 130%;
    width: 100%;
    object-fit: fill;
}

#cover{
    height: 100%;
    width: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: fill;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}


#eye-container{
    height: 22vh;
    width: 18vw;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: space-between;
}

.blk-side{
    height: 100%;
    width:7vw;
    background-color: black;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border-top: 5px solid rgb(208, 203, 203);
}

.white-side{
    height: 7vh;
    width: 3vw;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: 40%;
    border: 2px solid gray;
}

#move-div{
    height: 60px;
    width: 60px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    color: whitesmoke;
    font-weight: 900;
    font-size: 1vw;
}

#page4{
    height: 100vh;
    width: 100vw;
    background-color: #10b7ef;
    
}




















@media  screen and (max-width:480px) {
    #nav{
        height:7vh;
    }
    
    #nav #left{
        font-size: 2.9vw;
    }
    
#right img{
   height: 80%;
}



#nav-info-page span{
    font-size: 6vw;
    height: 8vh;
 }



 
#nav-info-page span i{
    font-size: 5.5vw;
}


#nav-page-cross{
  font-size: 10vw;
}

#show{
    height: 30px;
    width: 30px;
}

#page1{
    margin-top: 10vh;
    margin-bottom: 0;
    min-height: 110vh;
}

#show-case{
    height: 6.5vh;
    width: 45vw;
    font-size:4vw;
    margin-bottom: 5vh;
    text-wrap: nowrap;
    margin-top: 0;
}

#show-case .case1{
    background-color: rgba(128, 128, 128, 0.612);
    padding: .5vh 1.8vw;
    border-radius: 4px;
    display: flex;
    align-items: center;
}


.heading1{
    font-size: 12vw;
}

.heading2{
    font-size: 12vw;
}

#page1 p{
    text-align: center;
    font-size: 4vw;
}

#btn-div{
    height: 20vh;
    width: 90vw;
    gap: 5vw;
    margin-top: 4vh;
    flex-direction: column;
}

#btn-div a{
    padding: 0.7vh 7vw;
    background-color: red;
    border-radius: 19px;
    text-decoration: none;
    font-weight: 700;
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 91;
    font-size: 4vw;
}

#bg-box{
    margin-top: 0vh; 
    height: 50vh;
    cursor:none;
}
#bg-box #main-img{
    height: 100%;
    width: 100%;
}

#page2{
    margin-top: 20vh;
}

.text-container{
    height: 15vh;
    width: 90vw;
    font-size: 9vw;

}
.text-container span{
     display: flex;
     align-items: center;
     gap: 1vw;
}

.text-container .spn{
    display: inline-block;
    height: 7px;
    width: 50px;
    background-color: black;
}
.text-container b{
 font-size: 9.4vw;
}

.text-container img{
    position: absolute;
    height: 10vh;
    width: 15vw;
}






.info-container{
   min-height: 150vh;
    width: 100vw;
    margin-top: 9vh;
    flex-direction: column;
    pointer-events: none;
    
  }
  
  .card{
      height:50vh;
      width: 80vw;
      margin-bottom: 5vh;
      overflow: hidden;
      pointer-events: none;
    }
  
  .card-img{
      height: 40%;
      width: 100%;
  }
  
  .card-img img{
      height: 100%;
      width: 100%;
      object-fit: contain;
      filter: drop-shadow(1px 1px 60px #ab02fa65);
  }
  
  .card:hover.card-img img{
    transform: rotate(40deg);
  }
  
  .card-info{
      height: 33%;
      width: 100%;
      padding: 0vh 0.2vw;
  }
  
  .card-info h3{
      font-size: 6.2vw;
      font-weight: 900;
      margin-top: 1vh;
      margin-bottom: 2vh;
      text-shadow: 1px 1px 4px rgb(153, 149, 149);
  }
  
  .card-info span{
      font-size: 3.7vw;
      text-align: justify;
  }
  
  .card .card-btn{
       height: 4vh;
       width: 30vw;
       margin-bottom: 4vh;
       font-size: 4.5vw;
       margin-top: 2vh;
  }
  


  #page3{
    height: 70vh;
    width: 100vw;
    margin-top: 80vh;
}


#vid-div{
    height: 30vh;
    width: 90%;
    border-radius: 4px;
    margin-left: 5%;
}

#vid-div video{
    border-radius: 9px;
    height: 170%;
    width: 100%;
    object-fit: fill;
}

#cover{
    height: 100%;
    width: 100%;
}


#eye-container{
    height: 10vh;
    width: 40vw;
}

.blk-side{
    height: 100%;
    width:15vw;
    border-top: 2px solid rgb(208, 203, 203);
}

.white-side{
    height: 5vh;
    width: 6vw;
    border: 1px solid gray;
}

#move-div{
    height: 30px;
    width: 30px;
    font-size: 2vw;
}



}